  /* Contenedor principal */
  .carousel-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    height: 500px; /* Asegúrate de que el carrusel tenga una altura suficiente */
    position: relative; /* Para asegurarse de que no esté cubierto por otros elementos */
  }
  
  .container {
    display: flex;
    justify-content: center; /* Centra la imagen horizontalmente */
    align-items: center;     /* Centra la imagen verticalmente */
    height: 100%;   
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    margin: 90px;
    
}

  
  /* Posiciona "Inicio1" a la izquierda */
  .container > div:first-child {
    text-align:center;
  }
  *{
    box-sizing: border-box;
    /* background-color:dimgray; */
  }
  body{
    background-color: dimgray;
  }
  
  /* Posiciona "Inicio" a la derecha */
  .container > div:last-child {
    text-align: flex; 
  }

.texto{
    color: black;
  padding: 10px 300px; 
}
.Imagen {
  width: 150px;
  height: 150px;
  border-radius: 50%;  /* Bordes redondeados (círculo) */
  object-fit: cover;   /* Mantiene la proporción de la imagen y la recorta si es necesario */
  display: block;      /* Hace que la imagen sea un elemento bloque */
  margin: 0 auto;      /* Centra la imagen horizontalmente */
}

  /* Estilo de las imágenes */
  .slide-image {
    width: 100%;
    height: 500px; /* Ajusta la altura según sea necesario */
    object-fit: cover; /* Asegura que la imagen se recorte correctamente si es necesario */
    border-radius: 10px;
  }
  
  
  /* Flechas de navegación */
  .slick-prev, .slick-next {
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }
  
  .slick-prev:hover, .slick-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .slick-prev i, .slick-next i {
    color: white;
    font-size: 20px;
  }
  
  /* Puntos de navegación */
  .slick-dots li button:before {
    color: #888;
    font-size: 12px;
  }
  
  .slick-dots li.slick-active button:before {
    color: #ff4500;
  }
  
