.App {
  text-align: center;
}

.App-logo {
  height: 11vmin;
  pointer-events: none;
  left: 0;
  position: fixed;
  top: 5px;
  left: 300px; /*Posicion Izquierda*/
}
.App-menu{
  list-style-type: none; /*eliminar Puntos*/
  margin: 0;
  padding: 0;
  display: flex; /*Ordenar Horizontalmente*/
  justify-content: space-around;/*Espacio entre cada uno*/
  background-color: #333;
  align-items: center;
  position: fixed;
  top: 10px; /*Ubicacion parte superior*/
  left: 400px; /*Posicion Izquierda*/
  right: 0;
  width: 50%;
  height: 60px;
  border-radius: 5px;

}
.App-footer {
  display: flex;              /* Habilita Flexbox */
  justify-content: center;    /* Centra horizontalmente el contenido */
  align-items: center;        /* Centra verticalmente el contenido */
  position: fixed;            /* Fija el footer en la parte inferior */
  bottom: 0;                  /* Posición en la parte inferior */
  left: 0;                    /* Empieza desde el borde izquierdo */
  width: 100%;                /* Ocupa todo el ancho */
  background-color: #333;     /* Fondo oscuro */
  color: white;               /* Texto en blanco */
  padding: 0;              /* Espaciado interno */
  z-index: 1000;              /* Asegura que esté por encima de otros elementos */
}

.App-menu-item{
  margin: 0 10px;
}
.App-menu-item a {
  text-decoration: none; /* Sin subrayado */
  color: white; /* Texto blanco */
  font-size: 16px; /* Ajusta el tamaño del texto */
  padding: 10px 15px; /* Relleno interno */
  
}

.App-menu-item a:hover {
  background-color: #575757; /* Fondo diferente al pasar el ratón */
  border-radius: 5px; /* Bordes redondeados */
}
.App-text{
  color:aqua;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:dimgray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1000deg);
  }
}
